---
import Base from "../layouts/Base.astro";
---

<Base pageTitle="About Me">
    <section id="about">
        <div class="about-me">
            <h1>About me</h1>
        </div>
        <div class="about-desc">
            <p>Salam, I created a devWhat blog for sharing my journal to learn more about tech, databases and API. I will update everything found. I am still exploring what I want to focus on 
            in my career, and what I find convenient with my path in tech. I hope I can help you guys so come and check it out together.</p>
        </div>
    </section>
</Base>