---
import Base from "../layouts/Base.astro";

const title = 'devWhat';
---

<Base pageTitle={title}>
	<div id="index">
		<section id="hero">
			<div class="hero-text">
				<h1>Bracket Pieces of Code</h1>
				<p>Updates about Astro,Node.js and Express.</p>
			</div>
		</section>
	</div>
</Base>