---
import Navigation from "./Navigation.astro";
import Social from "./Social.astro";
---

<header>
    <div id="logo">
        dev<span>what</span>
    </div>
    <Navigation />
    <Social />
</header>