---
import Navigation from "./Navigation.astro";
import Social from "./Social.astro";
---

<header>
    <div class="logo">
        <p>dev<span>What</span></p>
    </div>
    <Navigation />
    <Social />
</header>