---
import { Image } from 'astro:assets';
import tiktok from '../assets/tiktok.png';
import youtube from '../assets/youtube.png';
---

<div class="ctn social">
    <li>
        <a href="https://www.youtube.com/@hunt_mai">
            <Image src={youtube} alt='Youtube' width={40} height={40} loading='eager' decoding='async' />
        </a>
    </li>
    <li>
        <a href="/">
            <Image src={tiktok} alt='Tiktok' width={40} height={40} loading='eager' decoding='async' />
        </a>
    </li>
</div>