---
import { Image } from 'astro:assets';
import youtube from '../../public/youtube.png';
import tiktok from '../../public/tiktok.png';
---

<div class="ctn social">
    <li>
        <a href="https://www.youtube.com/@hunt_mai/featured">
            <Image src={youtube} alt='Youtube' width={40} height={40} decoding='async' loading='eager' />
        </a>
    </li>
    <li><Image src={tiktok} alt="Tiktok" width={40} height={40} decoding='async' loading='eager' /></li>
</div>